<style>#branding{display:none;}</style>
<div class="scrollable">
    <div class="scrollable-content">
<div>
    <!--<div class="row">
        <div style='text-align:center;'>
            <img id="aboutbranding" style='width:60%' src="{{brandingUrl}}" />
        </div>
    </div>-->
    <div class="well-sm">
        <div align="center" class="campuseai-Info">
            <div>BlackBeltHelper app is your Personal Assistant to get things done over chat 24x7x365. BlackBeltHelper Assistants are at your service, working away until we get the job done for you! Best of all, the entire service is completely free & we make you feel #LikeABoss.</div><br>
            <div>BlackBeltHelp is the #1 technology company providing 24x7 Help Desk and Mobile App support to Higher Education industry for past 06 years.<br> They support students, faculty, staff and alumni with IT, Financial Aid & Enrollments, Financial Literacy and Student Services enquiries.</div><br>
            <div style="font-weight:600;text-shadow:none">Created By</div>
            <div >KRYPTOS Mobile</div>
            <div >www.kryptosmobile.com</div>
            <div style="margin:10px 0 0 0;">info@kryptosmobile.com</div>
            <div>Platform: V3.5</div>
            <div>Build:Ver {{metadata.version}}</div>
            <div style="margin:auto;width:90%;bottom:20px;position:absolute;">
                <img src="img/kryptos.png" style="margin:auto;width:80%;"/>
            </div>
        </div>
    </div>
</div>
</div>
</div>